@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Righteous&display=swap");

:root {
  --txt-primary: #3b3858;
  --txt-secondary: #efefef;
  --bg-primary: #fbfbfb;
  --bg-secondary: #ffffff;
  --confirmed: #f9d864;
  --recovered: #64ffc7;
  --deaths: #ff6496;

  --bg-animation: #ffffff;
  --br-animation: 0;
}

.dark {
  --txt-primary: #fbfbfb;
  --bg-primary: #27253b;
  --bg-secondary: #3b3858;

  --bg-animation: #aca9bb;
  --br-animation: 50%;
}

body {
  margin: 0;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  box-sizing: border-box;
  font-size: 14px;
  transition: background 300ms ease-in, color 325ms ease-in;
}

input,
select,
button {
  outline: none;
}

#root {
  max-width: 550px;
  margin: 0 auto;
}

.main {
  margin: 0 1em;
}

.header > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.title {
  font-size: 2em;
  font-weight: bold;
  font-family: "Righteous", cursive;
  color: #64e5f9;
}

.btn.svg {
  background: none;
  border: none;
}

.btn.svg > svg {
  width: 2rem;
  height: 2rem;
  color: var(--txt-primary);
}

.searchbar .input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75em 1em;
  margin: 1.5em 0;
  border: 1px solid var(--txt-secondary);
  border-radius: 2em;
  font-size: 1.143em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  color: var(--txt-primary);
}

.card {
  min-height: 10em;
  background-color: var(--bg-secondary);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  padding: 1em;
}

.card-heading {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.card .country {
  font-size: 1.25em;
  font-weight: bold;
}

.card .date {
  font-size: 1em;
}

.bar-stats {
  margin: 1em 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 1em;
  overflow: hidden;
  transition: grid-template-columns 350ms ease-in;
}

.stat {
  height: 26px;
  display: block;
}

.confirmed {
  background-color: var(--confirmed);
}

.recovered {
  background-color: var(--recovered);
}

.deaths {
  background-color: var(--deaths);
}

.counts {
  display: grid;
  grid-template-columns: 1fr 1fr 2em;
  margin-top: 0.75em;
  align-items: center;
  font-size: 1.14em;
}

.counts > .stat {
  border-radius: 6px;
}

.label {
  font-weight: 500;
  text-transform: capitalize;
}

.legend .count {
  justify-self: right;
  padding: 0 0.5em;
}

.status {
  margin: 1em;
}

.notice {
  margin: 2em 0;
  font-style: italic;
}

.card.info {
  display: grid;
  grid-template-columns: minmax(auto, 12em) 1fr;
  justify-items: start;
  align-items: center;
  margin: 1.5em 0;
  color: var(--txt-primary);
}

.card.info > div {
  max-width: 12rem;
  background-color: var(--bg-animation);
  border-radius: var(--br-animation);
  transition: border-radius 300ms ease;
}

.card.info > p {
  font-size: 1.2em;
  margin-left: 1em;
}
